
.note-item {
    text-decoration: none;
}

.note-title-holder {
    text-decoration: none;
    width: 400px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.note-title {
    color: black;
}
.note-body-holder {
    width: 400px;
    height: 300px;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    cursor: pointer;
}

.note-body {
    color: black;
}



